.Weather .card {
  max-width: 700px;
  margin: 50px auto;
  background: linear-gradient(to top, #ace0f9 0%, #caf8da 100%);
  font-family: "Source Sans 3", sans-serif;
  text-align: center;
}
.Weather p {
  font-size: 13px;
  margin-bottom: 0;
}
.Weather .container-search {
  margin-bottom: 20px;
}
