.Weather .card {
  max-width: 700px;
  margin: 50px auto;
  background: linear-gradient(to top, #ace0f9 0%, #caf8da 100%);
  font-family: "Source Sans 3", sans-serif;
  text-align: center;
}
.Weather p {
  font-size: 13px;
  margin-bottom: 0;
}
.Weather .container-search {
  margin-bottom: 20px;
}
.Weather .description {
  text-transform: capitalize;
}
.Weather .current-city {
  font-weight: 700;
  margin-bottom: 0;
}
.Weather .temperature {
  font-weight: 700;
}
.Weather .units {
  position: relative;
  top: -10px;
  font-size: 12px;
}

.Weather ul {
  padding: 0;
  margin: 0;
}
.Weather li {
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 14px;
}

.Weather .right-icons {
  font-size: 14px;
}
.Weather .wind,
.humid {
  display: inline;
}

.Weather .days {
  margin: 25px 0;
  padding: 0;
}
.Weather .min-temp {
  font-size: 12px;
  color: rgba(0, 0, 0, 0.5);
}
.Weather .max-temp {
  font-size: 12px;
  color: rgb(0, 0, 0);
}
.Weather .forecast-temp {
  margin: 0;
  padding: 0;
}
.Weather .forecast-icon {
  margin: 0;
  padding: 0;
}
