.Weather .card {
  max-width: 700px;
  margin: 50px auto;
  background: linear-gradient(to top, #ace0f9 0%, #caf8da 100%);
  font-family: "Source Sans 3", sans-serif;
  text-align: center;
}
.Weather p {
  font-size: 13px;
  margin-bottom: 0;
}
.Weather .container-search {
  margin-bottom: 20px;
}
.Weather .city-input {
  border-radius: 5px;
}
.Weather .buttonSearch {
  background-color: #ace0f800;
  border: 2px solid #ace0f800;
  border-radius: 5px;
  padding: 1px 15px;
  margin-left: 5px;
}
.Weather .buttonSearch:hover {
  background-color: #ace0f8;
}
.Weather .location {
  background-color: #ace0f800;
  border: 2px solid #ace0f800;
  border-radius: 5px;
  padding: 1px 15px;
  margin-right: 5px;
}
.Weather .location:hover {
  background-color: #ace0f8;
}

@media (max-width: 600px) {
  .location {
    width: 50px;
    margin: 0;
    padding-left: 5px;
    padding-right: 5px;
  }
  .city-input {
    width: 100px;
    margin: 0;
    padding-left: 5px;
    padding-right: 5px;
  }
  .buttonSearch {
    width: 50px;
    margin: 0;
    padding-left: 5px;
    padding-right: 5px;
  }
}
